@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Skranji:wght@400;700&display=swap');
* {box-sizing: border-box;}
/* font-family: 'Croissant One', cursive; */
/* font-family: 'Skranji', cursive; */


:root {
    --background-1: rgba(255, 255, 255, 0.5);
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Skranji', cursive;
    background-color: black;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}
.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blur-1-container {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.blur-2 {
    border-radius: 40px;
    display: flex;
    margin: 100px auto;
    height: calc(100vh - 200px);
    width: calc(100vw - 400px);
    justify-content: center;
    background-color: var(--background-1);
    backdrop-filter: blur(10px);
}
.text-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-item {
    margin-top: 50px;
    margin-bottom: 50px;
}
.menu-item a {
    text-decoration: none;
    color: inherit;
}
.first-item {
    font-size: 6rem;
}
.second-item,
.third-item,
.fifth-item {
    font-size: 3rem;
    font-family: 'Croissant One', cursive;
    transition: font-size 0.3s ease;
}
.second-item:hover,
.third-item:hover,
.fifth-item:hover {
    font-size: 3.5rem;
}