@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Skranji:wght@400;700&display=swap');
* {box-sizing: border-box;}
/* font-family: 'Croissant One', cursive; */
/* font-family: 'Skranji', cursive; */


:root {
    --background-1: rgba(255, 255, 255, 0.5);
    --text-main-font-size: 3rem;
    --text-secondary-font-size: 2rem;
    --text-small-font-size: 1rem;
}
.flexColumn {
    display: flex;
    gap: 50px;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Croissant One', cursive;
    background-color: black;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}
.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blur-1-container {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 100%;
    z-index: 0;
}
.blur-2 {
    border-radius: 0;
    display: flex;
    margin: auto;
    align-items: flex-start;
    height: calc(100vh);
    width: calc(100vw);
    background-color: var(--background-1);
    backdrop-filter: blur(10px);
}
.textContainer {
    margin: 50px;
}
.mainHeader {
    font-size: var(--text-main-font-size);
    margin-bottom: 30px;
}
.mainHeader a {
    text-decoration: none;
    color: inherit;
}
.description {
    margin-left: 40px;
    font-size: var(--text-small-font-size);
}